<div class="content-block">
  <div class="dx-card responsive-paddings">
    <ng-container *ngIf="currentUsuario; else NotFund">
      <p class="font-caption-2b">{{ currentUsuario.nome }}</p>
      <p class="font-caption-2b" s>Idade: {{ getAge(currentUsuario) }}</p>
      <dx-gallery
        id="gallery"
        [dataSource]="currentUsuario.fotos"
        height="40vh"
        showIndicator="true"
      ></dx-gallery>
      <dx-button
        icon="minus"
        stylingMode="outlined"
        type="danger"
        style="float: left"
        (click)="onClick(false)"
      >
      </dx-button>
      <dx-button
        icon="plus"
        stylingMode="outlined"
        type="success"
        style="float: right"
        (click)="onClick(true)"
      >
      </dx-button>
    </ng-container>
  </div>
</div>

<ng-template #NotFund>
  <h2 class="content-block">{{ currentUsuario.nome }}</h2>
</ng-template>
